{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bio Details</title>
</head>

<body>
    
    <h1> View Data</h1>
    {% csrf_token %}
    {% if sr %}
        {% for data in sr %}
            <table>
                 <tr>
                    <td><p>Name</p></td>
                    <td><p>{{data.bname}}</p></td>
                 </tr>
                 <tr>
                    <td><p>Category</p></p>
                    <td><p>{{data.bcat}}</p></td>
                 </tr>
                 <tr>
                    <td><p>Type</p></td>
                    <td><p>{{data.btype}}</p></td>
                 </tr>
                 <tr>
                    <td><p>Symptoms</p></td>
                    <td><p>{{data.bsymt}}</p></td>
                 </tr>
            <hr>
        </table>
        
            
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}